<%- include('./partials/header') %>
<%- include('./partials/nav') %>
    <link rel="stylesheet" type="text/css" href="/styles/details.css"/>



    <title>Page Details></title>
  </head>

  <body>


    <div id ="ImageOnly"><img src="/images/cookiePic.jpg"></div>   

 
</div>
<div class="smallPic">
<img class = "zoom" src="/images/cookiePic.jpg">
<img class ="zoom" src="/images/cookiePic.jpg">
</div>

 <section class = "Text">
    <!-- Name -->
    <h2><%= product.name %> </h2>
    <!-- Price -->
    <p>$<%= product.price %></p>
    <!-- Decrption -->
    <p>Decription:</p>
    <!-- <p><%= product.decription %></p> -->
    <!-- 2 etra deails -->
    <p>***** 19 Five  Star Reviews</p>
    <button>Add To Cart</button>
 </section>

</body>

</html>




    <%- include('./partials/footer') %>  


</body>
</html>
