<%- include('./partials/header') %>
<%- include('./partials/nav') %>
    <link rel="stylesheet" type="text/css" href="/styles/details.css"/>



    <title>Page Details></title>
  </head>

  <body>
    <div id ="ImageOnly"><img src="<%= product.url %>"></div>   
  </div>
  
   <section class = "Text">
      <!-- Name -->
      <h2 id="details-name"><%= product.name %></h2>
      <!-- Price -->
      <p id = details-price">$<%= product.price %> /dozen</p>
      <!-- Decrption -->
      <p id ="details-dec">Description:</p>
      <p><%= product.description %></p>

      <button class="add-Cart">Add To Cart</button>
   </section>
  
</body>

</html>

    <%- include('./partials/footer') %>  


</body>
</html>
