<%- include('partials/header') %>
<%- include('partials/nav') %>
<link rel="stylesheet" type="text/css" href="/styles/products.css"/>
<body>
  <!-- <div class="container">
      <% for (const product of products) { %>
          <div class="product-square">
            <img id = "product-image" src = "<%= product.url %>">
              <h2><%= product.name %></h2>
              <p>Price: <%= product.price %></p>

              <a href="<%= product.url %>">
                <button>View Details</button></a>
                <button id = "addOne" >
                  <a href="/public/projects/pageDetails.html"> DETAILS</a>
                </button>
          </div>
      <% } %>
  </div> -->

<div class="container">
  <% for (const product of products) { %>

    <div class="ListProducts zoom" >
      <div class="items">
        <img id = "product-image" src = "<%= product.url %>">
        <h2><%= product.name %></h2>
    <div class ="price">
      <p>Price: $<%= product.price %></p>
    </div>
    <button id = "addOne" >
      <a href="/products/item/<%= product.id %>"> DETAILS</a>
    </button>
      </div>
    </div>
    <% } %>
</div>





</body>

<%- include('partials/footer') %>