<!-- <table>
  <tr>
      <th>ID</th>
      <th>Name </th>
      <th>Price </th>
  </tr>
  <% for (const product of products){ %>
      <tr>
          <td>
                  <%= product.id %>
              </a>
          </td>
          <td>
              <%= product.name %>
          </td>
          <td>
              <%= product.price %>
          </td>
      </tr>
      <% } %>
</table>
</div>
</body>

</html> -->

<body>
  <div class="container">
      <% for (const product of products) { %>
          <div class="product-square">
            <img src = "<%= product.url %>"">
              <h2><%= product.name %></h2>
              <p>Price: <%= product.price %></p>

              <a href="<%= product.url %>">
                <button>View Details</button></a>
          </div>
      <% } %>
  </div>
</body>